extends layout

include mixins/reviewCard

block content
  .container.singleevent
    h5.event-name #{event.title}
    h5 #{date} #{time} #{event.foodtype} #{event.price} €
    .row.event-row
      .eight.columns
        img.eventimg(src=event.image.path)
      .four.columns.attendevent
        aside.eventdetails
          h5.event-host Host: #{ownerFullname}
          if event.isPastEvent
            p.past-notice This event is in the past!
          if userIsAttending && !event.isPastEvent
            p.attending-notice You are attending this event!
          p.placesleft Places left: #{event.placesLeft}
          p.p-eventdescription= event.description
    .event-button-container
      form.form-attending(action='/event/'+event._id method='POST')
        if !userIsAttending && !userIsOwner && !event.isPastEvent
          button.button-attending I'm attending!
        if userIsAttending && !event.isPastEvent
          button.button-cancel Cancel attendance
        if userIsOwner
      form.form-attending(action='/editevent/'+event._id method='GET')
        if userIsOwner
          button.button-edit Edit this event
      form.form-attending(action='/editevent/'+event._id+'/delete' method='POST')
        if userIsOwner
          button.button-delete Cancel this event
    .twelve.columns
      img.staticmap(src=helpers.staticMap(event.location.coordinates))
    .twelve.columns
      .reviews
        h4 What people think of the host:
        if reviews.length === 0
          p This host does not have any reviews.
        if reviews
          each review in reviews
            +reviewCard(review)
    if event.isPastEvent && userIsAttending
      .twelve.columns
        .new-review
          h4 You attended this event. Leave a review for the host?
          form.review-form(action='/review/'+event.owner[0] method="POST")
            label(for="description") Review
            textarea.review-description(name="description" required)
            label.review-rating-label(for="rating") Rating (1 to 5)
            input(type="number" min="1" max="5" name="rating" required)
            button.review-save Save
          
