extends layout

block content
  .container.newevent
    .row
      .six.columns
        form(action="/newevent" method="POST" enctype="multipart/form-data")
          h2 New Event
          label(for="title") Title
          input(type="text" name="title" placeholder="Name of your event" value=body ? body.title : '' required)
          label(for="foodtype") Food type
          input(type="text" name="foodtype" placeholder="What will you cook?" value=body ? body.foodtype : '' required)
          label(for="capacity") Number of attendees
          input(type="number" name="capacity" placeholder="0" value=body ? body.capacity : '' required )
          label(for="price") Price per person
          input(type="number" name="price" placeholder="0.00€" required )
          label(for="description") Description
          input(type="text" name="description" placeholder="Tell us a bit more...")
          label(for="date") Date
          input(type="date" name="date" value=body ? body.date : '' required)
          input(id="latitude" type="text" name="latitude" value=body ? body.latitude : '' hidden)
          input(id="longitude" type="text" name="longitude" value=body ? body.longitude : '' hidden)
          input(id="address" type="text" name="address" value=body ? body.address : '' hidden)
          label(for="location") Location
          input(id="location" type="text" name="location" value=body ? body.location : '' required)
          input(type="file" name="image" required)
          button.button-primary.button-signup Create event
