extends layout

block content
  .container
    .row
      .six.columns
        form(action="/newevent" method="POST")
          h2 New Event
          label(for="title") Title
          input(type="text" name="title" placeholder="Name of your event" value=body ? body.title : '' required)
          label(for="foodtype") Food type
          input(type="text" name="foodtype" placeholder="What will you cook?" value=body ? body.foodtype : '' required)
          label(for="capacity") Number of attendees
          input(type="number" name="capacity" placeholder="0" value=body ? body.capacity : '' required )
          label(for="price") Price per person
          input(type="number" name="price" placeholder="0.00€" value=body ? body.price : '' required )
          label(for="description") Description
          input(type="text" name="description" placeholder="Tell us a bit more..." value=body ? body.description : '')
          label(for="date") Date
          input(type="date" name="date" value=body ? body.date : '' required)
          input(id="latitude" type="text" name="latitude" value=event.latitude : '' hidden)
          input(id="longitude" type="text" name="longitude" value=event.longitude : '' hidden)
          label(for="location") Location
          input(id="location" type="text" name="location" value=body ? body.location : '' required)
          button.button-primary.button-signup Create event
