extends layout

block content
  .container.newevent
    .row
      .six.columns
        form(action="/newevent" method="POST")
          h2 New Event
<<<<<<< HEAD
          label(for="title") Title
          input(type="text" name="title" placeholder="Name of your event" value=body ? body.title : '' required)
          label(for="foodtype") Food type
          input(type="text" name="foodtype" placeholder="What will you cook?" value=body ? body.foodtype : '' required)
          label(for="capacity") Number of attendees
          input(type="number" name="capacity" placeholder="0" value=body ? body.capacity : '' required )
=======
          label(for="title") Title*
          input(type="text" name="title" placeholder="Name of your event" required)
          label(for="foodtype") Food type*
          input(type="text" name="foodtype" placeholder="What will you cook?" required)
>>>>>>> ffd6a54b3fe9c75725d52db1334ef7a354aa6a17
          label(for="price") Price per person
          input(type="number" name="price" placeholder="0.00€" required )
          label(for="description") Description
          input(type="text" name="description" placeholder="Tell us a bit more...")
          label(for="date") Date
<<<<<<< HEAD
          input(type="date" name="date" value=body ? body.date : '' required)
          input(id="latitude" type="text" name="latitude" value=event.latitude : '' hidden)
          input(id="longitude" type="text" name="longitude" value=event.longitude : '' hidden)
=======
          input(type="date" name="date" required)
          input(id="latitude" type="text" name="latitude" hidden)
          input(id="longitude" type="text" name="longitude" hidden)
>>>>>>> ffd6a54b3fe9c75725d52db1334ef7a354aa6a17
          label(for="location") Location
          input(id="location" type="text" name="location" required)
          button.button-primary.button-signup Create event
