mixin eventCard(event = {})
  .eventcard
    .event-card-image
      img(src=event.image.path)
    .event-card-info
      p.event-title #{event.title}
      p #{event.foodtype}
      p #{event.price} €
      p #{event.placesLeft} places left
      a(href='/event/'+event._id) Event details
